<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Home</title>
</head>
<body>
    <header class="header">
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="/views/home.html">Emilia Pardo Bazán</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/views/about.html">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/views/works.html">Works</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/views/photoGallery.html">Photo Gallery</a>
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>
        </div>
    </header>
    <div>
        <img src="/images/emilia.jpeg" alt="Photo of Emilia writing">
        <h1>Emilia Pardo Bazán y de la Rúa-Figueroa</h1>
        <h3>Novelist, journalist, literary critic, poer, editor, professor and women civil rights fighter</h3>
    </div>
</body>
</html>